<div class="navbar navbar-inverse navbar-fixed-top AddressListNavBar" ng-hide="NewAddressNavBar">
    <div class="container">
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-left" ng-if='isLoggedIn()'>
                <li><a href=""> {{UserName}}'s Address Book</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ><a ng-if='isLoggedIn()' ng-href="#!/addressBook/new" >New Address</a></li>
                <li ><a ng-if='isLoggedIn()' ng-href="#!/task">Task</a></li>
                <li ><a ng-if='isLoggedIn()' ng-href="#!/meeting">Meeting</a></li>
                <li ><a ng-if='isLoggedIn()' ng-click='Logout()' href=" ">Logout </a></li>
            </ul>
        </div>
    </div>
</div>


<div class="AddressList" ng-hide="NewAddressBook">
    <h1>Address List</h1>
    <div class="searchText ">
        <input type="text" class="input-lg" placeholder="Search For ..." ng-model="searchText">
    </div>
    <div ng-repeat="address in addressBookList | filter: searchText">
        <a href="">
            <div class="panel panel-default panel-body">
                    <div class="col-xs-8" ng-click="getsingleAddress(address.Id)">
                        <div class="col-xs-4">{{address.FirstName}} &nbsp; {{address.LastName}}</div>
                        <div class="col-xs-2"> {{address.Tel}} </div>
                    </div>
            </div>
        </a>       
    </div>
</div>
<!--</div>-->



