<div class="navbar navbar-inverse navbar-fixed-top AddressListNavBar" ng-hide="NewAddressNavBar">
    <div class="container">
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-left" ng-if='isLoggedIn()'>
                <li><a href=""> {{UserName}}'s Address Book</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-if='isLoggedIn()' ng-href="#!/">Home</a></li>
                <li ><a ng-if='isLoggedIn()' ng-href="#!/addressBook/new" >Add new address</a></li>
                <li ><a ng-if='isLoggedIn()' ng-href="#!/task">Task</a></li>
                <li ><a ng-if='isLoggedIn()' ng-href="#!/meeting">Meeting</a></li>
                <li ><a ng-if='isLoggedIn()' ng-click='Logout()' href=" ">Logout </a></li>
            </ul>
        </div>
    </div>
</div>

<div class="AbBackground AddressList">
     <div class="container">
         <div class="searchText input-group col-md-8 col-md-offset-2 list">
             <h1 class="AbTitle">Address Book</h1>
             <input type="text" class="input-lg" placeholder="Search For ..." ng-model="searchText">
         </div>
         <div class="panel panel-success col-md-8 col-md-offset-2 list" >
             <div class="panel panel-success panel-heading title">{{UserName}}'s Address Book List</div>
                 <div ng-repeat="address in addressBookList | filter: searchText">
                     <a href="#!/addressBook/{{address.Id}}">
                         <div class="panel panel-success panel-body" id="item" >
                             <div class="col-xs-8">
                                 <div class="col-xs-6">{{address.FirstName}} &nbsp; {{address.LastName}}</div>
                                 <div class="col-xs-2"> {{address.Tel}} </div>
                             </div>
                         </div>
                     </a>         
                </div>
            </div>
     </div>
</div>





