<div class="navbar navbar-inverse navbar-fixed-top AddressListNavBar" ng-hide="NewAddressNavBar">
    <div class="container">
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-left" ng-if='isLoggedIn()'>
                <li><a href=""> {{UserName}}'s meeting List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-if='isLoggedIn()' ng-href="#!/">Home</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/meeting/new">New Meeting</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/addressBook">Address Book</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/Task">Tasks</a></li>
                <li><a ng-if='isLoggedIn()' ng-click='Logout()' href=" ">Logout </a></li>
            </ul>
        </div>
    </div>
</div>

<div id="MeetingBackground">
    <div class="container">
        <div class="searchText input-group col-md-8 col-md-offset-2 list">
            <h1 class="MTitle">Meeting List</h1>
            <input type="text" class="input-lg" placeholder="Search For ..." ng-model="searchText">
        </div>

        <div class="panel panelListTitle col-sm-8 col-sm-offset-2 list" id="ListFrame">
            <div class="panel panel-heading title" id="listTitle">{{UserName}}'s Meeting List</div>
            <div ng-repeat="meeting in meetingList | filter: searchText">
                <a ng-href="#!/meeting/{{meeting.Id}}">
                    <div class="panel panel-success panel-body" id="ListItems">
                        <div class="col-sm-8">
                            <div class="col-sm-4">{{meeting.MeetingName}} &nbsp; {{meeting.MeetingDate | date:"MM/dd/yyyy "}}</div>
                            <div class="col-sm-6"> {{meeting.Notes}} </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



