<div class="navbar navbar-inverse navbar-fixed-top NewAddressNavBar" ng-hide="AddressListNavBar">
    <div class="container">
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-left" ng-if='isLoggedIn()'>
                <li><a href=""> {{UserName}}'s Address Book</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-if='isLoggedIn()' ng-href="#!/addressBook">Address List</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/">Home</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/task">Task</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/meeting">Meeting</a></li>
                <li><a ng-if='isLoggedIn()' ng-click='Logout()' href=" ">Logout </a></li>
            </ul>
        </div>
    </div>
</div>

<h3>New Address</h3>
<div class="form-group">
    <div class="form-group">
        <input type="text" class="form-control " placeholder="First Name" ng-model="newAddress.FirstName" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="Last Name" ng-model="newAddress.LastName" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="Tel" ng-model="newAddress.Tel" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="Email" ng-model="newAddress.Email" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="Street" ng-model="newAddress.Street" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="City" ng-model="newAddress.City" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="State" ng-model="newAddress.State" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="Zipcode" ng-model="newAddress.Zipcode" />
    </div>  
    <!--<div class="form-group">
        <input type="text" class="form-control " placeholder="RelationShip" ng-model="newAddress.RelationShip" />
    </div >--> 
    <label>RelationShip</label>
    <div class="form-group">
        <select ng-model="newAddress.RelationShip">
            <option value="0" >Family</option>
            <option value="1">Friend</option>
            <option value="2" selected>Others</option>
        </select>
    </div>
    <button class="btn btn-default " ng-click="addNewAddress()">Submit</button>

    <div class="container">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + 'warning'" close="closeAlert($index)" class="alert col-xs-4 col-xs-offset-4">
            {{alert.msg}}
        </div>
    </div>
</div>
