<h3>New Address</h3>
<div class="form-group">
    <div class="form-group">
        <input type="text" class="form-control " placeholder="First Name" ng-model="newAddress.FirstName" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="Last Name" ng-model="newAddress.LastName" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="Tel" ng-model="newAddress.Tel" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="Email" ng-model="newAddress.Email" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="Street" ng-model="newAddress.Street" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="City" ng-model="newAddress.City" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="State" ng-model="newAddress.State" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control " placeholder="Zipcode" ng-model="newAddress.Zipcode" />
    </div>  
    <button class="btn btn-default " ng-click="addNewAddress()">Submit</button>
</div>
