<div class="navbar navbar-inverse navbar-fixed-top NewAddressNavBar" ng-hide="AddressListNavBar">
    <div class="container">
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-left" ng-if='isLoggedIn()'>
                <li><a href=""> {{UserName}}'s Meetings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-if='isLoggedIn()' ng-href="#!/">Home</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/meeting/new">Add Meeting</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/meeting">Meeting List</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/addressBook">Address book</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/task">Tasks</a></li>
                <li><a ng-if='isLoggedIn()' ng-click='Logout()' href=" ">Logout </a></li>
            </ul>
        </div>
    </div>
</div>

<div id="singleMeetingBackground">
    <h1 class="col-sm-offset-2">{{singleMeeting.MeetingName}} details</h1>
    <div class="panel panel-body col-sm-8 col-sm-offset-2" id="singleMeeting">
        <div class="row space">
            <span class="span col-sm-2">Meeting name:</span>
            <p class="col-sm-8"> {{singleMeeting.MeetingName}} </p>
        </div>

        <div class="row space">
            <span class="span col-sm-2">Meeting date:</span>
            <p class="col-sm-8"> {{singleMeeting.MeetingDate | date:"MM/dd/yyyy"}} </p>
        </div>

        <div class="row space">
            <span class="span col-sm-2">Meeting Notes:</span>
            <p class="col-sm-8">{{singleMeeting.Notes}} </p>
        </div>

        <div class="row space">
            <div class="col-sm-4 ">
                <button class=" btn btn-success glyphicon glyphicon-pencil" ng-click="editSingleMeeting(singleMeeting.Id)"></button>
            </div>
            <div class="col-sm-4 ">
                <button class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteSingleMeeting(singleMeeting.Id)"></button>
            </div>

            <div class="form-group ">
                <span class="span col-sm-1">Done</span>
                <input type="checkbox" class="checkbox " id="inlineMInputBox" ng-click="meetingDone(singleMeeting.Id)" />
            </div>
        </div>
     </div>
</div>
    


  

   

