<div class="navbar navbar-inverse navbar-fixed-top AddressListNavBar" ng-hide="NewAddressNavBar">
    <div class="container">
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav navbar-left" ng-if='isLoggedIn()'>
                <li><a href=""> {{UserName}}'s Tasks List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-if='isLoggedIn()' ng-href="#!/">Home</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/task/new">New Task</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/addressBook">Address Book</a></li>
                <li><a ng-if='isLoggedIn()' ng-href="#!/meeting">Meeting</a></li>
                <li><a ng-if='isLoggedIn()' ng-click='Logout()' href=" ">Logout </a></li>
            </ul>
        </div>
    </div>
</div>

<div id="TaskBackground">
    <div class="container">
        <div class="searchText input-group col-sm-10 list">
            <div class="TaskList col-sm-offset-2">
                <h1 class="TTitle">Tasks List</h1>
                <input type="text" class="input-lg" placeholder="Search For ..." ng-model="searchText">
             </div>
            <div class="panel panelListTitle col-sm-10 col-sm-offset-2 list" id="ListFrame">
                <div class="panel panel-heading title" id="listTitle" >{{UserName}}'s Tasks List</div>
                <div ng-repeat="task in tasksList | filter: searchText">
                    <div class="panel panel-success panel-body " id="ListItems">
                        <div class="col-sm-10">
                            <a href="#!/task/{{task.Id}}">
                                <div class="col-sm-8">{{task.TaskName}} &nbsp; {{task.TaskDate | date:"MM/dd/yyyy "}}</div>
                                <div class="col-sm-10"> {{task.Description}} </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>


