
    .homePage
        {
             background-color: pink;
             color:blueviolet;
        }
#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: #D4CECE;
    padding: 15px 50px;
    z-index: 1000;
    margin-top: 20px;
}

