
/*##############################
nav bar and footer
##############################*/

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: #D4CECE;
    padding: 15px 50px;
    z-index: 1000;
    /*margin-top: 20px;*/
}

#appName {
    font-size: 2rem;
    color: #FFF;
}

/*##############################
list Items
##############################*/
.title {
    font-size: 3rem;
}

#ListItems {
    font-size: 2rem;
    color: black;
    background-color: #f0fff0;
    margin: 15px;
    box-shadow: 5px 5px 5px #bbb0b0;
    border: 1px solid grey;
}
#ListFrame {
    box-shadow: 5px 5px 5px #9c6767;
    border: 1px solid grey;
}

#listTitle {
    box-shadow: 5px 5px 5px #bbb0b0;
    border: 1px solid grey;
    background-color: lightcyan;
}


.list {
    margin-top: 20px;
}

#newAddressForm, #editAddressForm, #editMForm, #newMForm, #editTForm, #newTForm {
    border-color: brown;
    border-style: solid;
    border-radius: 15px;
    padding: 30px 30px;
    background-color: cornsilk;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px #938787;
    border: 1px solid grey;
    font-size: 2rem;
}

    
.alert {
        margin: 20px auto;
        text-align: center;
    }

#inlineAbInputBox, #inlineMInputBox, #inlineTInputBox {
    display: inline-block;
}

.span {
    font-weight: bold;
}

#bodyContainer {
    margin: 0;
    padding: 0;
    min-width: 100%;
}

#scopeContainer {
    margin: 0;
    padding: 0;
}

.AbTitle, .MTitle, .TTitle {
    font-family: 'Vast Shadow';
    font-size:3rem;
}

#singleAddress, #singleMeeting, #singleTask {
    border-color: #1e2453;
    border-style: solid;
    border-radius: 15px;
    padding: 30px 30px;
    background-color: cornsilk;
    margin-top: 20px;
    box-shadow: 5px 5px 5px #938787;
    border: 1px solid grey;
    font-size:2rem;
}

.space {
    margin: 20px 10px;
}

/*##############################
To Do list Items
##############################*/

#TaskToDoList, #MeetingToDoList {
    border-color: #9c6767;
    border-style: solid;
    border-radius: 15px;
    padding: 30px 30px;
    background-color: #f1c0c0;
    margin-top: 20px;
    border-width: 2px;
    box-shadow: 5px 5px 5px grey;
}

.inlineDiv {
    display:inline-block;
}

#summary {
    border-style: solid;
    border-radius: 40%;
    border-color: #9c6767;
    border-width: 1px;
    font-size:2rem;
    background-color: #e8e9dc;
    color:brown;
}

#summaryTitle {
    background-color: #e8e9dc;
    border-style: solid;
    font-weight:bold;
    border-radius: 40%;
    border-color: #9c6767;
    border-width: 1px;
    font-size: 3rem;
    padding: 10px;
    margin: 15px 15px;
    font-family: 'Indie Flower', cursive;
    color: black;
    text-align: center;
}


#summaryDetails {
    padding: 30px;
    color: #07096d;
    background-color: #e8e9dc;
    font-size: 2.5rem;
    border-style: solid;
    border-radius:20%;
    margin:20px 0;
    border-color: #9c6767;
    border-width: 1px;
}

#TListToDoItemBg, #MListToDoItemBg {
    background-color: #ffffe0;
    color: black;
    font-size: 1.5rem;
    border-color: brown;
    /*border-color: #9c6767;*/
    border-style: solid;
    border-radius: 5px;
    /*padding: 30px 30px;*/
    /*background-color: #f1c0c0;*/
    /*margin-top: 20px;*/
    border-width: 2px;
    box-shadow: 5px 5px 5px #c28b8b;
    /*font-weight:bold;*/
}

.ToDoTitle {
    color: brown;
    font-size: 3rem;
    text-align: center;
}

.panelListTitle {
    color: brown;
    padding-top: 30px;
    background-color:deeppink;
    border:solid 2px pink;
}

    .panelListItem {

    }

.frame {
    box-shadow: 3px 3px 3px grey;
    border: 1px solid grey;
    border-radius: 3px;
}

.panelItems {
    margin: 15px;
    box-shadow: 10px 10px 5px grey;
    border: 1px solid grey;
}

    /*##############################
background pictures
##############################*/
    #HomeBackground {
        background: url("/Picture/LOGO 8.png");
        background-repeat: no-repeat;
        background-color: #f5f5dc;
        background-size: cover;
        opacity: .8;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: relative;
    }


#AbBackground {
    background: url("/Picture/addressBookBg.jpg");
    background-repeat: no-repeat;
    background-color: #f5f5dc;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position:relative;
    margin-bottom:30px;
    /*margin-top:10px;*/
}

#newAbBackground,#singleAbBackground {
    background: url("/Picture/addressBookBg.jpg");
    background-repeat: no-repeat;
    background-color: #f5f5dc;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
}

#TaskBackground {
    background: url("/Picture/TaskBackground.jpg");
    background-repeat: no-repeat;
    background-color: #f5f5dc;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 30px;
}

#newTaskBackground, #singleTaskBackground {
    background: url("/Picture/TaskBackground.jpg");
    background-repeat: no-repeat;
    background-color: #f5f5dc;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
}

#MeetingBackground {
    background: url("/Picture/MeetingBackground.jpg");
    background-repeat: no-repeat;
    background-color: #f5f5dc;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 30px;
}

#newMeetingBackground, #singleMeetingBackground {
    background: url("/Picture/MeetingBackground.jpg");
    background-repeat: no-repeat;
    background-color: #f5f5dc;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
}
/*##############################
login page 
##############################*/
.loginBackground {
    background: url("/Picture/logo66.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #d3d3d3;*/
    opacity: .9;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
}



